.thumbnail img {
    max-height: 300px;
}

.thumbnail .description {
    color: #7f7f7f;
}

.price {
    font-weight: bold;
    font-size: 16px;
}

.drop-down{
    text-decoration: none;
    color: #333;
    font-size: 23px;
    padding-left: 122px;
    position: absolute;
    top: 8px;
}
.dropdown-menu{
    left: 95px;
}
